*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ffffff;
}

.header{
    background-color: #f6f1f12e;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 10%;
    height: 115px;
    border: solid 1px #d4caca;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.header .logo a{
    cursor: pointer;
    color: rgb(127, 120, 120);
}

.header .logo:hover{
    transform: scale(1.1);
    color: gray;
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 10px;   
}

.header .nav-links li a{
    color: rgb(120, 120, 120);
    font-size: 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links li a:hover{
    color: gray;
}

.title-block{
    color: rgb(120, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 70px;
}

.linear{
    border: solid 1px #dad5d5c2;
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
}

.card{
    position: relative;
    width: 400px;
    height: 270px;
    margin: 20px;
}