*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: #ffffff;
}

.header{
    background-color: #f6f1f12e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    padding: 5px 10%;
    border: solid 1px #d4caca;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.header .logo a{
    cursor: pointer;
    color: rgb(127, 127, 127);
}

.header .logo:hover{
    transform: scale(1.1);
}

.header .nav-links li{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 10px;
}

.header .nav-links li a{
    color: rgb(127, 127, 127);
    font-size: 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links li a:hover{
    color: gray;
}