*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ffffff;
}

.header{
    background-color:#f6f1f12e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    height: 115px;
    border: solid 1px #d4caca;
    margin-left: 100px;
    margin-right: 100px;
}

.header .logo a{
    cursor: pointer;
        color: rgb(127, 120, 120);
}

.header .logo:hover{
    transform: scale(1.1);
    color: gray;
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 10px;
}

.header .nav-links li a {
    color: rgb(127, 120, 120);
    font-size: 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links li a:hover{
    color: grey;
}

.Encabezado {
    color: rgb(127, 120, 120);
    font-size: 50px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.linear{
    border: solid 1px #dad5d5c2;
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
}

.panel{
    background-color: #ebe7e7a3;
    height: auto;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 50px;
    display: flex;      
}

.panel img{
    height: 580px;
    width: auto;
    padding: 50px;
}

.panel .text{
    font-size: 28px;
    padding-top: 11%;
    padding-left: 20px;
    padding-right: 30px;
    color: rgb(154, 147, 147);
}

.panel .text .btn button{
    background-color: #dad5d5c2;
    margin-top: 23px;
    border-radius: 50px;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.panel .text .btn button:hover{
    transform: scale(1.1);
}

.panel .text .btn button{
    font-size: 18px;
    color: gray;
}

.container-i {
    margin-top: 5%;
}

.container-i .img-cog {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    height: 90px;
    width: auto;
}

.container-i .title{
    color: rgb(154, 147, 147);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 3%;
}

.container-i .linear-ii {
    border: solid 1px #dad5d5c2;   
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 8%;

}

.container-i .img-cv {
    display: flex;
    justify-content: center;
    padding-right: 40%;
}

.container-i .img-cv img {
    height: 550px;
    border-radius: 40px;
}

.container-i .img-cv .txt  p{
    color: rgb(154, 147, 147);
    font-size: 30px;
    position: absolute;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.public{
    background-color: #ebe7e7a3;
}

.public .txt{
    margin-top: 8%;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: rgb(154, 147, 147);
}


/*SERVICIOS*/

.services {
    margin-top: 5%;
    background-color: rgb(236, 240, 243);
}

.services .services-title{
    color: #897e7e;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.services-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.services-img .img-1 a{
    font-size: 20px;
    color: #897e7e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.services-img .img-1 a:hover{
    transform: scale(1.2);
}

.services-img img {
    height: 300px;
    width: auto;
    padding: 25px;
    border-radius: 50px;
    margin-bottom: 8%;
    cursor: pointer;
}

.services-img img:hover{
    transform: scale(1.2);
}

